@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: inline;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
}

.button.invert {
    background-color: transparent;
    border: 1px solid #F9FAF8;
}

.row {
    padding: 50px 20vw;
}

.header {
    background-color: #1F2937;
    padding-top: 25px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navigation .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navigation .links {
    display: flex;
    gap: 25px;
}

.navigation .links a {
    font-size: 16px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 15px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .left .title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero .left .text {
    color: #E5E7EB;
    font-size: 14px;
}

.hero .left .button {
    align-self: flex-start;
}

.hero .right {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1 0 40%;
}

.information .title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.information .content {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.information .box {
    flex: 0;
}

.information .image {
    width: 125px;
    height: 125px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.information .text {
    font-size: 12px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: justify;
}

.quote .author {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.banner {
    background-color: #3882F6;
    padding: 25px 10vw;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
}

.banner .left .title {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.banner .left .text {
    font-size: 16px;
    color: #E5E7EB;
    margin: 5px 0;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

